html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Variables */

/* washed out color scheme */
:root {
    --light-blue: rgb(101, 199, 216);
    --orange: rgb(209, 135, 92);
    --purple: rgb(160, 120, 160);
}

/* stronger colors */
/* :root {
    --light-blue: rgb(49, 204, 231);
    --orange: rgb(233, 136, 80);
    --purple: rgb(202, 104, 202);
} */

.main-grid {
    display: grid;
    grid-template-columns: 15% 40% 45%;
    grid-template-rows: 3rem auto 15rem;
    width: 100%;
    height: 100%;
    grid-template-areas:
        "menu-bar menu-bar menu-bar"
        "file-select code program-elements"
        "file-select tabs tabs";
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .main-grid{
        display: grid;
        grid-template-rows: 3rem min-content minmax(15rem, auto) min-content min-content;
        grid-template-columns: 100%;
        grid-template-areas: 
            "menu-bar"
            "file-select"
            "code"
            "program-elements"
            "tabs"
    }
}

.menu-bar {
    grid-area: menu-bar;
    display: flex;
    align-items: stretch;
    background-color: rgb(129, 122, 122);
    width: 100%;
    font-size: 2rem;
    text-align: center;
}

#left-buttons {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}
#right-buttons {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
}

.menu-bar  button {
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 0.2rem;
    height: 80%;
}

.file-select {
    grid-area: file-select;
    background-color: var(--light-blue);
    /* padding: 2rem; */
    /* text-align: center; */
}
.file-select h1 {
    width: 100%;
    text-align: center;
}
.file-select ul {
    padding: 0;
    list-style-type: circle;
}

.file-select li {
    display: inline-block;
    list-style: disc;
    height: 2rem;
    line-height: 2rem; 
    /* background-color: rgb(212, 211, 211); */
    width: 75%;
    margin-left: 1rem;
} 

.file-content {
    grid-area: code;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.file-content >pre {
    margin: 0;
    width: 97%;
    height: 100%;
    border: none;
    outline: none;
    padding: 1rem ;
    /* position: fixed; */
}

.program-elements {
    grid-area: program-elements;
    background-color: var(--orange);
    padding: 1rem;
    overflow-y: auto;
    /* overflow-wrap: break-word; */
}

.program-elements > pre {
    overflow-x: hidden;
    word-wrap: break-word;
}

.tabs {
    grid-area: tabs;
    background-color: var(--purple);
}

.tab-list {
    display: flex;
    align-content: flex-start;
    background-color: gray;
    height: 3rem;
    
}

.tab {
    line-height: 2.2rem; /* used to center text vertically*/
    margin: 0.4rem 0 0.4rem 1ch;
    text-align: center;
    border-bottom: 5ch solid rgb(64, 224, 184);
    border-left: 3ch solid transparent;
    border-right: 3ch solid transparent;
    width: 10ch;
    height: 0; 
}

.tab > button {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
}

/* .tab-content {

} */


.tab:hover {
    border-bottom: 5ch solid teal;
}

.tab-content li {
    list-style: none;
}

.tab-form > form {
   display: grid;
    grid-column-end: 2;
    width: 100%;
    padding-top: 1rem;
    justify-content: center;
}

.tab-form > form > label {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

#prover-submit {
    width: 100%;
}
#vcs-submit {
    margin: auto;
}

.tab-form > form > ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
}

#result-div {
    height: 10rem;
    padding: 1rem;
    overflow: auto;
    /* display: flex;
    flex-direction: column-reverse ; */
}  


/* compressed version of css code */
/*
html,body{height:100%;margin:0;padding:0}:root{--light-blue:#65c7d8;--orange:#d1875c;--purple:#a078a0}.main-grid{display:grid;grid-template-columns:15rem 7fr 3fr;grid-template-rows:3rem auto 15rem;width:100%;height:100%;grid-template-areas:"menu-bar menu-bar menu-bar" "file-select code program-elements" "file-select tabs tabs"}@media only screen and (max-width:768px){.main-grid{display:grid;grid-template-rows:3rem min-content minmax(15rem,auto) min-content min-content;grid-template-columns:100%;grid-template-areas:"menu-bar" "file-select" "code" "program-elements" "tabs"}}.menu-bar{grid-area:menu-bar;background-color:#817a7a;width:100%;font-size:2rem;text-align:center}.file-select{grid-area:file-select;background-color:var(--light-blue);text-align:center}.file-select ul{padding:0;list-style-type:none}.file-select li{display:inline-block;list-style:none;margin-bottom:.5rem;height:2rem;line-height:2rem;background-color:#d4d3d3;width:75%}.code{grid-area:code;width:100%}.code>textarea{margin:0;resize:none;width:94%;height:100%;border:0;outline:0;padding:1rem 0 1rem 1rem}.program-elements{grid-area:program-elements;background-color:var(--orange);padding:1rem}.tabs{grid-area:tabs;background-color:var(--purple)}.tab-list{display:flex;align-content:flex-start;background-color:gray;height:3rem}.tab{line-height:2.2rem;margin:.4rem 0 .4rem 1ch;background-color:#40e0b8;width:8ch;text-align:center;border:0}.tab:hover{background-color:teal}.tab-content{padding:1.5rem}
*/