<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add File</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'frama_app/addForm.css' %}">

</head>
<body>
    <h1>Add file</h1>
    <form class="addForm" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form}}
        <input type="submit"/>
        {% if non_unique %}
            <p style="color: red;">Wrong file name supplied. Possible cause: file with this name already exists.</p>
        {% endif %}
    </form>
</body>
</html>