<li>
    {% if dir %}
    {{dir.name}}
    {% endif %}
        <ul>
            {%for file in files %}
                {% if file.parent == dir %}
                    <li id="{{file.name}}">
                        {% firstof request.GET.tab "0" as tab_value %}
                        <a href="{% url 'frama_app:file' file.name tab_value %}">{{ file.name }}</a>
                    </li>
                {% endif %}
            {%endfor%}
        </ul>
    <ul>
     {%for node in directories %}
         {% if node.parent == dir %}
          {%with dir=node template_name="frama_app/filetree.html" %}
               {%include template_name%}
          {%endwith%}
         {% endif %}
     {%endfor%}
     </ul>
</li>