{% csrf_token %}
<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
	
	<title>Assignment 1</title>
	
    <link rel="stylesheet" type="text/css" href="{% static 'frama_app/styles.css' %}">
</head>

<body>
	<div class="main-grid">
		<div class="menu-bar">
			<div id="left-buttons">
				<button><a href={% url 'frama_app:add_dir' %}>Add Directory</a></button>
				<button><a href={% url 'frama_app:add_file' %}>Add File</a></button>
				<button><a href={% url 'frama_app:delete_node' %}>Delete file/directory</a></button>
			</div>
			<div id="right-buttons">
				{% if fName %}
					<button><a href="{% url 'frama_app:run_frama' fName %}">Run Configuration</a></button>
				{% endif %}
				<button><a href="{% url 'frama_app:logout'%}">Logout</a></button>
			</div>
			
		</div>
		<div class="file-select">
			<h1>Files:</h1>
			{% if files %}
				{%include "frama_app/filetree.html" %}
			{% else %}
				<p style="text-align: center;">There are no files.</p>
			{% endif %}
		</div>
		<div class="file-content">
			<pre>{{content}}</pre>
		</div>
		<div class="program-elements">
			{% if sections %}
			<pre>------------------------------------------------------------</pre>
			{% for s in sections %}
				<pre style="background-color: {{s.1}}; padding-left: 1rem;">{{s.0}}</pre>
				<pre>------------------------------------------------------------</pre>
			{% endfor %}
			{% else %}
				<p>No sections checked by Frama-c.</p>
			{% endif %}
		</div>
		<div class="tabs">
			<div class="tab-list">
				{% if fName %}
					<div class="tab"><button><a href="{% url 'frama_app:change_tab' fName 1 %}">PROVERS</a></button></div>
					<div class="tab"><button><a href="{% url 'frama_app:change_tab' fName 2 %}">VCs</a></button></div>
					<div class="tab"><button><a href="{% url 'frama_app:change_tab' fName 3 %}">RESULT</a></button></div>
				{% else %}
					<div class="tab"><button>PROVERS</button></div>
					<div class="tab"><button>VCs</button></div>
					<div class="tab"><button>RESULT</button></div>
				{% endif %}
			</div>
			<div class="tab-content">
				{% if tab == 1 %}		<!--provers-->
					<div class="tab-form">
						<form action="{% url 'frama_app:prover' fName %}" method="POST">
							{% csrf_token %}
							{{form}}
							<input type="submit" id="prover-submit"/>
						</form>
					</div>
				{% elif tab == 2 %}		<!--VCs-->
					<div class="tab-form">
						<form action="{% url 'frama_app:vcs' fName %}" method="POST">
							{% csrf_token %}
							{{form}}
							<input type="submit" id="vcs-submit"/>
						</form>
					</div>
				{% elif tab == 3 %}		<!--result-->
					<div id="result-div">
						<pre id="result">{{form}}</pre>
					</div>
				{% endif %}
			</div>
		</div>
	</div>

</body>

</html>